<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="admin/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%-include('./partials/sidebar.ejs')%>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%-include('./partials/topbar.ejs')%>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <div class="row">
                    <div class="col-lg-12">
                      <h1 class="page-header">Gallery</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                  </div>
                  <hr>
                  <div class="row text-center">
                    <div class="col-3">

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">


                        <h1 class="mb-4">Add Image to Gallery</h1>
                        <form accept="image/*" action="/admin/gallery/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="photo" id="img" class="form-control">

                            <div class="form-group form-inline text-center">
                              <label> Quail
                                <input type="checkbox" name="category[]" value="quail" class="form-check-input mr-4">
                              </label>
                              <label> Chambers
                                <input type="checkbox" name="category[]" value="chamber" class="form-check-input mr-4">
                              </label>
                              <label> Machinery
                                <input type="checkbox" name="category[]" value="machinery" class="form-check-input">
                              </label>
                            </div>

                            <img id="imgPreview" alt="Image not supported" style="max-height:100%;max-width:100%;display:block;opacity:0%">
                          <input type="submit" value="Upload" class="form-control">
                        </form>

                    </div>
                    <div class="col-3">

                    </div>
                  </div>

                  <hr>

                  <div class="row text-center">
                    <% for(item of galleryItems){%>
                    <div class="col-3">
                      <div class="card">
                        <img class="card-img-top" src="shared/galleryItems/<%=item._id%>.<%=item.ext%>" alt="Card image cap" style="max-width:100%;max-height:100%;display:block">
                        <form action="/admin/gallery/edit?id=<%=item._id%>" method="post" id="card<%=item._id%>">
                          <div class="form-group form-inline text-center categ-selector">
                            <label> Quail
                              <input type="checkbox" name="category[]" value="quail" class="form-check-input mr-4"<% if(item.category.find(elem => elem =='quail')){%>checked <%}%>>
                            </label>
                            <label> Chambers
                              <input type="checkbox" name="category[]" value="chamber" class="form-check-input mr-4"<% if(item.category.find(elem => elem =='chamber')){%>checked <%}%>>
                            </label>
                            <label> Machinery
                              <input type="checkbox" name="category[]" value="machinery" class="form-check-input"<% if(item.category.find(elem => elem =='machinery')){%>checked <%}%>>
                            </label>
                          </div>
                        </form>
                        <div class="card-body">
                          <a href="shared/galleryItems/<%=item._id%>.<%=item.ext%>" class="btn btn-info img-popup">View</a>
                          <a onclick="submitForm('<%=item._id%>')" class="btn btn-primary">Save</a>
                          <a href="/admin/gallery/delete?id=<%=item._id%>" class="btn btn-danger">Delete</a>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="admin/vendor/jquery/jquery.min.js"></script>
    <script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="admin/js/sb-admin-2.min.js"></script>

    <!--Magnific Popup-->
    <script src="admin/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
    $(document).ready(()=>{
      img.onchange = event =>{
        const [file] = img.files;

        if(file){
          imgPreview.src = URL.createObjectURL(file);
          imgPreview.style.opacity = '1.0';
        }
      }

      $('.img-popup').magnificPopup({
        type:'image'
      })
    })

    function submitForm(formID){
      $(`#card${formID}`).submit();
    }

    </script>

</body>

</html>
